# STM32CubeIDE build output
**/Debug/
**/Release/

# Generated binaries
*.elf
*.hex
*.bin
*.map
*.list
*.mk

#eclipse / STM32CubeIDE workshop
.metadata/

#STM32CubeIDE local preferences
**/.settings/*.prefs

# macOS
.DS_Store
